/**
 * Styles for the gallery block.
 */
.gallery {
    margin-top: 85px;
    &__masonry
    {
        width: 100%;
    }

    &__item, &__sizer
    {   
        width: 20%;
    }

    &__item
    {
        float:left;
        min-height: 100px;       
    }

    &__item img
    {
        width: 100%;
        display: block;
        object-fit: cover;
    }

}
