/**
 * Styles for the popular block.
 */
.popular 
{
    &__imgside
    {
        @media (max-width:567px)
        {
            order: 1;    
        }
    }
    margin-top: -30px;
    &__textside
    {
        margin-top: 20%;
        @media (max-width:567px)
        {
            order: 12; 
            margin-top: -5%;   
        }
    }

    &__subtitle
    {
        color: #828282;
        font-family: $Montserrat, serif;
        font-size: 14px;        
        max-width: 450px;
        margin-left: 35px;
        margin-top: 30px;
    }
    &__addtxt
    {
        margin-top: 25px;
        color: #885353;
        font-family: $Montserrat, serif;
        font-size: 20px;  
    }
    &__letter
    {
        font-family: $Montserrat, serif;
        text-transform: uppercase;
        font-size: 100px;
        font-weight: bold;
        letter-spacing: 5px;
        color: #C500C9;
        margin-left: -85px;
        margin-top: 55px;
        @media (max-width:767px)
        {
            font-size: 84px;
            margin-left: 0px;
        }
    }
    &__words
    {
        font-family: $Montserrat, serif;
        text-transform: uppercase;
        font-size: 42px;
        letter-spacing: 10px;
        margin-top: 130px;
        @media (max-width:767px)
        {
            font-size: 28px;
            word-break:break-all;
        }
    }
}
